<div class="overflow-x-auto relative pt-10 pb-10">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6">Nombre de Producto</th>
        <th>Image</th>
        <th scope="col" class="py-3 px-6">Cantidad</th>
        <th scope="col" class="py-3 px-6">Precio</th>
        <th scope="col" class="py-3 px-6">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cartships.each do |cartship| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <%= cartship.product.title %>
        </th>
        <td>
          <img src="<%= cartship.product.image %>" class="object-cover h-60 w-40"/>
        </td>
        <td class="py-4 px-6"><%= cartship.quantity %></td>
        <td class="py-4 px-6">
          <%= number_to_currency(cartship.product.price) %>
        </td>
        <td class="py-4 px-6">
          <%= number_to_currency(cartship.product.price * cartship.quantity) %>
        </td>
      </tr>
      <% end %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Total
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td class="py-4 px-6"><%= number_to_currency(@cart.total_price) %></td>
      </tr>
    </tbody>
  </table>
</div>

<section>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Stubborn Attachments</h3>
      <h5>$20.00</h5>
    </div>
  </div>
  <%= form_tag pay_cart_path(@cart), method: :post, data: { turbo: false } do %>
    <%= button_tag "Pagar con Tarjeta", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
    <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="sdf dfdfdmfkdfkdfd "
            data-amount="1000"
            data-email="xhosfirst@gmail.com"
            data-bitcoin="true" 
            data-locale="auto"></script> -->
  <% end %>
</section>